*{
    box-sizing : border-box;
}

header{
    padding: 30px;
    text-align: center;
    border : 1px solid rgb(128, 101, 226);
    background-color: rgb(144, 109, 240);
}

nav{
    float: left;
    width : 20%;
}

nav ul{
    list-style-type: none;
    border: 1px solid rgb(158, 110, 214);
    background-color: rgb(180, 117, 216);
    text-align: center;
    padding: 0px;
    margin-top: 0px;
}

nav ul li a{
    display: block;
    color: rgb(88, 58, 145);
    padding: 8px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: steelblue;
    color: #6bcedb;
}

article{
    float: left;
    width: 80%;
    border: 1px solid rgb(120, 118, 230);
    background-color: rgb(92, 173, 211);
    padding: 0 20px;
}

footer{
    text-align: center;
}

.satu{
    font-family: monospace;
    color: rgb(178, 100, 197);
}

.dua{
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
}